* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(249, 247, 242);
    color: rgb(22, 22, 20);
    box-sizing: border-box;
}

h1 {
    font-size: 32px;
    color: rgb(74, 105, 241);
}


#home-title {
    font-size: 48px;
    padding: 8px;
    margin-left: 168px;
}

/* HOMEPAGE CARDS STYLING */

.recipe-homepage-cards {
    background-color: rgb(228, 228, 227);
    margin: auto;
    padding: 16px;
    max-width: fit-content;
}

.recipe-card {
    background-color: rgb(105, 130, 240);
    width: 1080px;
    height: 330px;
    margin: 16px 8px 16px 8px;
    padding: 0 0 24px 0;
    box-sizing: border-box;
}

.recipe-card.last-card {
    margin-bottom: 8px;
}

img {
    object-fit: cover;
    object-position: 30%;
    width: 1080px;
    height: 250px;
}

h2.link-title {
    color: rgb(255, 255, 255);
    padding-left: 8px;
}

a, a:visited, a:active {
    color: inherit;
  }

a:hover {
    color: rgb(38, 63, 174);
}

/* RECIPE PAGE STYLINGS */
h2 {
    color: rgb(180, 103, 30);
}

.recipe-links {
    list-style-type: none;
}

/* .recipe-links a {
    font-size: 18px;
    color: rgb(22, 22, 20);
} */

.steps strong {
    color: rgb(92, 102, 215);
}

footer #back-home {
    background-color: rgb(180, 103, 30);
    color: rgb(238, 233, 219);
    font-weight: 700;
}