* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(255, 254, 251);
    color: rgb(22, 22, 20);
}

h1, 
.steps strong {
    color: rgb(74, 105, 241);
}


#home-title {
    font-size: 48px;
    padding: 8px;
    margin-left: 168px;
}

/* HOMEPAGE CARDS STYLING */

.recipe-homepage-cards {
    background-color: rgb(228, 228, 227);
    margin: auto;
    padding: 16px;
    max-width: fit-content;
}

.recipe-card {
    background-color: rgb(105, 130, 240);
    width: 1080px;
    height: 330px;
    margin: 16px 8px 16px 8px;
    padding: 0 0 24px 0;
}

.recipe-card.last-card {
    margin-bottom: 8px;
}

img.home-image {
    object-fit: cover;
    object-position: 30%;
    width: 1080px;
    height: 250px;
}

h2.link-title {
    color: rgb(255, 255, 255);
    padding-left: 8px;
}

a, a:visited, a:active {
    color: inherit;
  }

a:hover {
    color: rgb(38, 63, 174);
}

/* RECIPE PAGE STYLINGS */

h1.recipe-page {
    font-size: 36px;
    margin-top: 56px;
    text-align: center;
}

img.dish-image {
    display: block;
    margin: 8px auto;
    width: 600px;
    height: auto;

}

h2.recipe-page {
    color: rgb(180, 103, 30);
    margin: 16px 0px;
}

.recipe-links {
    list-style-type: none;
}

div.recipe-page-layout {
    margin: auto;
    max-width: fit-content;
}

div.recipe-page-layout .description-section {
    background-color: rgb(228, 228, 227);
    width: 1080px;
    height: auto;
    margin: 16px 8px 16px 8px;
    padding: 8px;

}

div.recipe-page-layout .ingredient-section {
    background-color: rgb(228, 228, 227);
    width: 1080px;
    height: auto;
    margin: 16px 8px 16px 8px;
    padding: 8px;

}

div.recipe-page-layout .instruction-section {
    background-color: rgb(228, 228, 227);
    width: 1080px;
    height: auto;
    margin: 16px 8px 16px 8px;
    padding: 8px;

}

.section,
.subsection {
    background-color: rgb(255, 254, 251);
    padding: 8px;
} 

h3 {
    margin: 8px 0px;
}

/* FOOTER STYLING */

footer {
    background-color: rgb(180, 103, 30);
    color: rgb(238, 233, 219);
    font-weight: 700;
    width: fit-content;
    text-align: right;
    float: right;
    margin-right: 56px;
    /* margin: auto; */
}